[Unit]
Description=Homework Collection Service

[Service]
Type=simple
ExecStart=%h/.local/bin/homework-collection
Restart=no

[Install]
WantedBy=default.target
